:root {
  --yellow: #ccb31f;
  --teal: #1c6e73;
  --blue: #003f5c;
  --background: #fafafa;
  --text: #333333;
}

html {
  color: var(--text);
  font-family: "Open Sans", sans-serif;
  height: 100%;
  overflow: auto;
}

body {
  max-width: 1100px;
  margin: 0 auto;
  padding: 16px;
}

/** Header Styles */

header {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 2px solid var(--teal);
  margin: 1em auto;
}

header a,
header a:link,
header a:visited,
header a:active {
  text-decoration: none;
  color: var(--blue);
}

header img {
  height: 50px;
  width: 50px;
}

h1 {
  display: inline;
  margin: 0 0.5em;
}

nav > a {
  padding: 0.75em 1em;
  margin-top: 0.5em;
  display: inline-block;
}

nav > a:hover {
  background-color: var(--teal);
  color: var(--background);
  cursor: pointer;
}

/* Social links */
.links {
  justify-content: end;
  display: flex;
  flex-direction: row;
}

.links a,
.links a:link,
.links a:visited,
.links a:active {
  text-decoration: none;
  color: var(--text);
}

.links svg {
  height: 36px;
  padding: 4px;
}
