.hobbies {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hobbies img {
  width: 300px;
  padding: 16px;
}

p {
  padding: 16px;
}

@media screen and (max-width: 680px) {
  .hobbies img {
    width: 300px;
  }

  .hobbies {
    flex-direction: column;
  }
}

@media screen and (max-width: 1000px) and (min-width: 680px) {
  .hobbies img {
    width: 200px;
  }
}
